.titre
{
    h1{
        font-family: $titre;
    }
}
.head
{
    width: 95%;
    margin: auto;
    height: 100px;
}
.header
{
    margin: 0 auto 4%;
    background-image: url("../images/lotus.jpg");
    background-position: bottom;
    &_container
    {
        backdrop-filter: sepia(0.3);
    }
    .citation
    {
        text-align: center;
        padding: 10%;
        h3{
            color: wheat;
            text-shadow: 2px 2px 3px black;
        }
        
    }
}
.section 
{ 
    height: 55vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin: 0 auto 4%;
}
.section2 
{ 
    color: white;
    margin: 0 auto 4%;
    background: darkcyan;
    padding: 5%;
    &_titre
    {
        text-align: center;
    }
    &_info
    {
        text-align: center;
        // text-shadow: 2px 2px  pink;
    }
    button{
        width: fit-content;
        margin: 10px auto;
        border: 1px solid peachpuff;
        padding: 1%;
        background: peachpuff;
        box-shadow: 0px 0px 2px black;
    }
}
.info
{
    margin:0 auto 4%;
    .static
    {
        background: #B5C09E;
        padding: 10%;
    }
    .bg2
    {
        background-image: url("../images/gong.jpg");
        background-size: cover;
        padding: 10%;
    }    
}
