.btn_actif
{
    box-shadow: 0 0 5px black;
    border: 1px solid black;
}
.titre_admin, .bouton_admin
{
    text-align: center;
}
.titre_admin
{
    padding: 2%;
}
.probleme
{
    display: inline-flex;
    width: 100%;
    &__bloc
    {
        display: inline-flex;
        align-items: center;
    }
    &__input
    {
        margin: 10px;
    }
}
.add_form
{
    padding: 2%;
    margin: 2%;
    border: 1px solid;
}
.edit
{
    &__video, &__exercice
    {
        padding: 5%; 
        border: 1px solid;
    }
}