
.connexion
{
    margin: 5% auto;
    &_bloc
    {
        background: cadetblue;
        box-shadow: 0px 2px 7px black;
        h2
        {
            font-weight: bold;
            color: white;
            text-shadow: 0 1px 3px black;
        }
    }
    &_titre
    {
        padding: 5%;
    }
    &_form
    {
        padding: 2%;
        .champ
        {
            box-shadow: 0px 0px 2px black inset;
            background: #207577;
            border: 1px solid;
        }
        .button
        {
            margin-top: 5%;
            border-radius: 5px;
        }
    }
}