.banniere
{
    &_exercice
    {
        background-image: url('../images/lavande.jpg');
        background-position: bottom;
    }
}

.btn_exo
{
    position: relative;
    border-radius: 100%;
    width: 90%;
    height: auto;
    padding-top: 90%;
    background: linear-gradient(45deg, #c6d7ec, #FFE4D9);
    margin: auto;  
    .ico
    {
        position: absolute;
        top: 25%;
        left: 25%;
        height: 50%;
        width: 50%;
        &_1
        {
            background: url(../images/icones/ico_meditation.png);
            background-size: contain;
        }
        &_2
        {
            background: url(../images/icones/ico_youtube.png);
            background-size: contain;
        }
    }
    &:hover
    {
        cursor: pointer;
        box-shadow: 0px 0px 10px rgba(0,0,0,.24);
    }
    &:active
    {
        box-shadow: 0 0 10px black inset;
        transform: translateY(4px);
    }
}
.btn_pousse
{
    box-shadow: 0 0 10px black inset;
    transform: translateY(4px);
}
.titre_exo
{
    text-align: center;
    font-family: $titre;
}
.meditation
{
    margin: 4% 0;
    &_desc
    {
        text-align: center;
        padding: 4%;
        border: 1px solid #677BA2;
        border-radius: 2%;
        background: linear-gradient(45deg, #cac6ec, #FFE4D9);
        h2{
            text-transform: uppercase;
        }
    }
    &_exo
    {
        border: 1px solid;
        padding: 2%;
        border-radius: 1%;
        ul{
            list-style: unset;
            display: block;
            li{
                margin: 1% 0;
            }
        }
    }
    &_video
    {
        text-align: center;
    }
}