.banniere
{
    &_huile
    {
        background-image: url('../images/lavande.jpg');
        background-position: bottom;
    }
}
.bg_huile
{
    background-image: url('../images/lavande.jpg');
    // background-position: bottom;
    &_title
    {
        text-align: center;
        color: wheat;
        padding: 5%;
        text-shadow: 2px 2px 3px black;
    }
}
.main
{
    max-width: 60%;
    margin: auto;
    background: white;
}

.huile
{
    &_title h1{
        font-size: 4vh;
    }
    .desc
    {
        color: #808080;
        font-size: 1.23em;
        letter-spacing: -0.02em;
        line-height: 19px;
        text-align: justify;
    }
    .filter
    {
        margin: 20px auto;
        #filtre{
            // background: #815c87;
            background: #A0B3AE;
            .contenu
            {
                display: inline-flex;
                background: #AEB38A;
                box-shadow: 0px 2px 3px black;
                form{
                    margin: auto;
                }
                select{
                    margin: unset;
                }
            }
        }
        h3{
            font-size: 3vh;
            margin: unset;
        }
    }
}

.glossaire ul
{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
    // background: #815c87;
    background: #AEB38A;
    margin: 0;
    padding: 0;

    li{
        color: white;
    }
}
.product-card
{
    display: flex;
    flex-direction: column;
    margin: 10px 1%;
    flex: 1 20%;
    max-width: 23%;
    background-color: #FFF;
    box-shadow: 0px 0px 3px black;
    &:hover{
        box-shadow: 5px 5px 20px #a0b3ae;
    }
}
.product_desc
{
    text-align: center;
    background: #eee;
    padding: 10px;
    height: 100%;

    h3{
        font-size: unset;
    }
}