.top-bar, .top-bar ul
{
    background: transparent;
}
.nav
{
    float: right;
    min-width: 600px;
    // display: inline-flex;
    display: none;
    justify-content: space-between;
}

.menu-checkbox:checked ~ .nav
{
    display: block;
    flex-basis:auto ;
}
.menu-checkbox
{
    position: absolute;
    opacity: 0;
    top: -50%;
}
.menu-checkbox:focus + .menu_toggle
{
    outline: olivedrab auto 5px;
}
.menu_toggle
{
    float: right;
}

@media screen and (min-width : 950px) {
    #menu_toggle, .menu-checkbox
    {
        display: none;
    }
    .nav
    {
        display: inline-flex;
        
    }
} 