@import url("https://fonts.googleapis.com/css2?family=Quattrocento&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  display: inline-flex;
}

body {
  font-family: "Quattrocento", serif;
  background: floralwhite;
}

.bg_section {
  width: 100%;
  height: 100%;
  text-align: center;
}

.bg_section h1 {
  text-shadow: 3px 3px 5px black;
}

.banniere {
  margin-bottom: 4%;
}

.banniere_title {
  text-align: center;
  color: wheat;
  padding: 5%;
  text-shadow: 2px 2px 3px black;
}

#load {
  display: none;
  position: absolute;
  right: 10px;
  top: 10px;
  background: url(images/ajax-loader.gif);
  width: 43px;
  height: 11px;
  text-indent: -9999em;
}

.top-bar, .top-bar ul {
  background: transparent;
}

.nav {
  float: right;
  min-width: 600px;
  display: none;
  justify-content: space-between;
}

.menu-checkbox:checked ~ .nav {
  display: block;
  flex-basis: auto;
}

.menu-checkbox {
  position: absolute;
  opacity: 0;
  top: -50%;
}

.menu-checkbox:focus + .menu_toggle {
  outline: olivedrab auto 5px;
}

.menu_toggle {
  float: right;
}

@media screen and (min-width: 950px) {
  #menu_toggle, .menu-checkbox {
    display: none;
  }
  .nav {
    display: inline-flex;
  }
}

.titre h1 {
  font-family: "Kaushan Script";
}

.head {
  width: 95%;
  margin: auto;
  height: 100px;
}

.header {
  margin: 0 auto 4%;
  background-image: url("../images/lotus.jpg");
  background-position: bottom;
}

.header_container {
  backdrop-filter: sepia(0.3);
}

.header .citation {
  text-align: center;
  padding: 10%;
}

.header .citation h3 {
  color: wheat;
  text-shadow: 2px 2px 3px black;
}

.section {
  height: 55vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin: 0 auto 4%;
}

.section2 {
  color: white;
  margin: 0 auto 4%;
  background: darkcyan;
  padding: 5%;
}

.section2_titre {
  text-align: center;
}

.section2_info {
  text-align: center;
}

.section2 button {
  width: fit-content;
  margin: 10px auto;
  border: 1px solid peachpuff;
  padding: 1%;
  background: peachpuff;
  box-shadow: 0px 0px 2px black;
}

.info {
  margin: 0 auto 4%;
}

.info .static {
  background: #B5C09E;
  padding: 10%;
}

.info .bg2 {
  background-image: url("../images/gong.jpg");
  background-size: cover;
  padding: 10%;
}

.parallax {
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.banniere_huile {
  background-image: url("../images/lavande.jpg");
  background-position: bottom;
}

.bg_huile {
  background-image: url("../images/lavande.jpg");
}

.bg_huile_title {
  text-align: center;
  color: wheat;
  padding: 5%;
  text-shadow: 2px 2px 3px black;
}

.main {
  max-width: 60%;
  margin: auto;
  background: white;
}

.huile_title h1 {
  font-size: 4vh;
}

.huile .desc {
  color: #808080;
  font-size: 1.23em;
  letter-spacing: -0.02em;
  line-height: 19px;
  text-align: justify;
}

.huile .filter {
  margin: 20px auto;
}

.huile .filter #filtre {
  background: #A0B3AE;
}

.huile .filter #filtre .contenu {
  display: inline-flex;
  background: #AEB38A;
  box-shadow: 0px 2px 3px black;
}

.huile .filter #filtre .contenu form {
  margin: auto;
}

.huile .filter #filtre .contenu select {
  margin: unset;
}

.huile .filter h3 {
  font-size: 3vh;
  margin: unset;
}

.glossaire ul {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  background: #AEB38A;
  margin: 0;
  padding: 0;
}

.glossaire ul li {
  color: white;
}

.product-card {
  display: flex;
  flex-direction: column;
  margin: 10px 1%;
  flex: 1 20%;
  max-width: 23%;
  background-color: #FFF;
  box-shadow: 0px 0px 3px black;
}

.product-card:hover {
  box-shadow: 5px 5px 20px #a0b3ae;
}

.product_desc {
  text-align: center;
  background: #eee;
  padding: 10px;
  height: 100%;
}

.product_desc h3 {
  font-size: unset;
}

.banniere_exercice {
  background-image: url("../images/lavande.jpg");
  background-position: bottom;
}

.btn_exo {
  position: relative;
  border-radius: 100%;
  width: 90%;
  height: auto;
  padding-top: 90%;
  background: linear-gradient(45deg, #c6d7ec, #FFE4D9);
  margin: auto;
}

.btn_exo .ico {
  position: absolute;
  top: 25%;
  left: 25%;
  height: 50%;
  width: 50%;
}

.btn_exo .ico_1 {
  background: url(../images/icones/ico_meditation.png);
  background-size: contain;
}

.btn_exo .ico_2 {
  background: url(../images/icones/ico_youtube.png);
  background-size: contain;
}

.btn_exo:hover {
  cursor: pointer;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.24);
}

.btn_exo:active {
  box-shadow: 0 0 10px black inset;
  transform: translateY(4px);
}

.btn_pousse {
  box-shadow: 0 0 10px black inset;
  transform: translateY(4px);
}

.titre_exo {
  text-align: center;
  font-family: "Kaushan Script";
}

.meditation {
  margin: 4% 0;
}

.meditation_desc {
  text-align: center;
  padding: 4%;
  border: 1px solid #677BA2;
  border-radius: 2%;
  background: linear-gradient(45deg, #cac6ec, #FFE4D9);
}

.meditation_desc h2 {
  text-transform: uppercase;
}

.meditation_exo {
  border: 1px solid;
  padding: 2%;
  border-radius: 1%;
}

.meditation_exo ul {
  list-style: unset;
  display: block;
}

.meditation_exo ul li {
  margin: 1% 0;
}

.meditation_video {
  text-align: center;
}

.connexion {
  margin: 5% auto;
}

.connexion_bloc {
  background: cadetblue;
  box-shadow: 0px 2px 7px black;
}

.connexion_bloc h2 {
  font-weight: bold;
  color: white;
  text-shadow: 0 1px 3px black;
}

.connexion_titre {
  padding: 5%;
}

.connexion_form {
  padding: 2%;
}

.connexion_form .champ {
  box-shadow: 0px 0px 2px black inset;
  background: #207577;
  border: 1px solid;
}

.connexion_form .button {
  margin-top: 5%;
  border-radius: 5px;
}

.btn_actif {
  box-shadow: 0 0 5px black;
  border: 1px solid black;
}

.titre_admin, .bouton_admin {
  text-align: center;
}

.titre_admin {
  padding: 2%;
}

.probleme {
  display: inline-flex;
  width: 100%;
}

.probleme__bloc {
  display: inline-flex;
  align-items: center;
}

.probleme__input {
  margin: 10px;
}

.add_form {
  padding: 2%;
  margin: 2%;
  border: 1px solid;
}

.edit__video, .edit__exercice {
  padding: 5%;
  border: 1px solid;
}
/*# sourceMappingURL=style.css.map */