// ========================================== //
// Settings
// ========================================== //
@import url('https://fonts.googleapis.com/css2?family=Quattrocento&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

// *Define Font
$font-title: 'Quattrocento',serif;
$font-text: 'Quattrocento',serif;
$titre: 'Kaushan Script';

*
{
    margin: 0;
    padding: 0;
}
ul
{
    list-style: none;
    display: inline-flex;
}
body{
    font-family: $font-text;
    background: floralwhite;
}
.bg_section
{
    width: 100%;
    height: 100%;
    text-align: center;
    h1
    {
        text-shadow: 3px 3px 5px black;
    }
}
.banniere
{
    margin-bottom: 4%;
    &_title
    {
        text-align: center;
        color: wheat;
        padding: 5%;
        text-shadow: 2px 2px 3px black;
    }
}
#load
{
    display: none;
    position: absolute;
    right: 10px;
    top: 10px;
    background: url(images/ajax-loader.gif);
    width: 43px;
    height: 11px;
    text-indent: -9999em;
}
